/*.bak
/target/classes/*.yaml
/target/classes/com/amazon/seller/shipping/*.class
/target/classes/com/amazon/seller/shipping/service/*.class
/target/classes/com/amazon/seller/shipping/service/helper/*.class
/target/classes/com/amazon/seller/shipping/web/*.class
/target/classes/com/amazon/seller/shipping/web/mapper/*.class
/target/classes/com/amazon/seller/shipping/web/request/*.class
/target/classes/com/amazon/seller/shipping/web/response/*.class
/target/maven-archiver/*.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/target/*.jar
/target/surefire-reports/*.xml
/target/surefire-reports/*.txt
/target/test-classes/com/amazon/seller/shipping/*.class
/.idea/.gitignore
/.idea/azure/azureSettings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/target/classes/com/amazon/seller/shipping/model/Error$ErrorBuilder.class
/target/classes/com/amazon/seller/shipping/model/Error.class
/target/classes/com/amazon/seller/shipping/model/SellingParty$SellingPartyBuilder.class
/target/classes/com/amazon/seller/shipping/model/SellingParty.class
/target/classes/com/amazon/seller/shipping/model/ShipFromParty$ShipFromPartyBuilder.class
/target/classes/com/amazon/seller/shipping/model/ShipFromParty.class
/target/classes/com/amazon/seller/shipping/model/ShippingLabelData$ShippingLabelDataBuilder.class
/target/classes/com/amazon/seller/shipping/model/ShippingLabelData.class
/target/classes/static/3rdpartylicenses.txt
/target/classes/static/favicon.ico
/target/classes/static/index.html
/target/classes/static/main.eb1b699ff77292da.js
/target/classes/static/polyfills.76c0fed8716d6811.js
/target/classes/static/runtime.b19789b12a04cd5b.js
/target/classes/static/styles.252407e5220450de.css
